/* Google Font Manrope */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

/* Universal CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
}

:root {
    --primary: #FF0000;
    --secondary: #FF8938;
    --gray-1: #1C1C1C;
    --gray-2: #777777;
    --gray-3: #494949;
    --gray-4: #D2D2D2;
    --white: #FFFFFF;
    --white-light: #F4F4F4;
}

.container {
    max-width: 1600px;
    width: 80%;
    margin-inline: auto;
}

section {
    margin-block: 6.25rem;
}

.btn-primary {
    background: linear-gradient(270deg, var(--primary) 10%, var(--secondary) 90%);
    color: var(--white);
    outline: none;
    border: none;
    text-decoration: none;
    padding: 1.125rem 1.25rem;
    border-radius: 0.625rem;
    font-size: 1.25rem;
    font-weight: 700;
    cursor: pointer;
}

.btn-primary:hover {
    background: linear-gradient(90deg, var(--primary) 10%, var(--secondary) 90%);
}

.btn-secondary {
    background: linear-gradient(270deg, var(--primary) 10%, var(--secondary) 90%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.25rem;
    font-weight: 700;
    border-radius: 0.5rem;
    padding: 0.85rem 1.75rem;
    outline: none;
    border: none;
    text-decoration: none;
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: block;
    border: 2px solid transparent;
}

.btn-secondary:hover {
    background: linear-gradient(90deg, var(--primary) 10%, var(--secondary) 90%);
    background-clip: inherit;
    -webkit-text-fill-color: var(--white);
    border-color: var(--white);
}

.heading {
    color: var(--gray-1);
    font-size: 5rem;
    font-weight: 800;
    line-height: 6.25rem;
}

.title {
    color: var(--gray-1);
    font-size: 2.825rem;
    font-weight: 800;
}

.description {
    color: var(--gray-2);
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.875rem;
}

/* Banner Styles */
#banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block: 4.27rem;
}

#banner .banner-content h1 {
    max-width: 40rem;
}

#banner .banner-content p {
    max-width: 32rem;
    margin-block: 1.88rem;
}

#banner .banner-content button img {
    vertical-align: baseline;
    margin-left: 0.62rem;
}

#banner .banner-image .image-wrapper {
    position: relative;
}

#banner .banner-image .image-wrapper>img {
    width: 100%;
}

#banner .banner-image .image-wrapper .badge {
    border-radius: 0.625rem;
    background-color: var(--white);
    max-width: 18rem;
    box-shadow: 0px 7px 50px 0px rgba(0, 0, 0, 0.06);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.80rem;
    padding: 1.75rem;
    position: absolute;
    bottom: -2%;
    left: 12%;
}

#banner .banner-image .image-wrapper .badge img {
    width: 100%;
    vertical-align: middle;
}

#banner .banner-image .image-wrapper .badge h3 {
    color: var(--gray-1);
    font-size: 1.875rem;
    font-weight: 800;
}

#banner .banner-image .image-wrapper .badge p {
    color: var(--gray-2);
    font-size: 1rem;
    font-weight: 600;
}

/* Featured Styles */
#featured {
    text-align: center;
}

#featured p {
    max-width: 56rem;
    margin-inline: auto;
    margin-top: 1.25rem;
}

#featured .cards-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 3.12rem;
    gap: 1.5rem;
    place-items: center;
}

#featured .cards-container .card {
    border-radius: 0.625rem;
    background: linear-gradient(180deg, #F4F4F4 0%, rgba(244, 244, 244, 0.00) 100%);
    text-align: center;
    padding: 1.88rem;
}

#featured .cards-container .card h3 {
    color: var(--gray-1);
    font-size: 1.5rem;
    font-weight: 800;
    margin: 1.88rem 0 0.62rem 0;
}

#featured .cards-container .card p {
    color: var(--gray-2);
    font-size: 1rem;
    font-weight: 600;
    max-width: 13rem;
    margin-inline: auto;
}

/* Present Styles */
#present {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.88rem;
}

#present .present-content {
    order: 2;
}

#present .present-content h2 {
    margin-bottom: 1.25rem;
    max-width: 26rem;
}

#present .present-content p {
    max-width: 36rem;
}

#present .present-content .sub-content {
    margin-top: 1.88rem;
}

#present .present-content .sub-content div:nth-child(1) {
    margin-bottom: 1.25rem;
}

#present .present-content .sub-content h3 {
    color: var(--gray-1);
    font-size: 1.25rem;
    font-weight: 800;
    margin-bottom: 0.62rem;
}

#present .present-content .sub-content p {
    max-width: 28rem;
    color: var(--gray-2);
    font-weight: 500;
    line-height: 1.75rem;
}

#present .present-image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1.88rem;
}

#present .present-image div {
    padding: 2rem;
    border-radius: 0.625rem;
    display: grid;
    place-items: center;
}

#present .present-image div img {
    width: 100%;
}

#present .present-image div:nth-child(1) {
    opacity: 0.1;
    background: var(--Linear, linear-gradient(270deg, #F00 0%, #FF8938 100%));
}

#present .present-image div:nth-child(2) {
    grid-row: 1 / -2;
    grid-column: 2 / -1;
    background: rgba(230, 166, 35, 0.10);
}

#present .present-image div:nth-child(3) {
    background: linear-gradient(90deg, #D9D9D9 0%, rgba(255, 255, 255, 0.00) 100%);
}

#present .present-image div:nth-child(4) {
    grid-row: 2 / -1;
    grid-column: 1 / 2;
    background: rgba(87, 118, 57, 0.10);
}

/* Client Styles */
#client {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(270deg, var(--primary) 0%, var(--secondary) 100%);
    padding: 4.38rem;
    border-radius: 0.625rem;
    position: relative;
    min-height: 50rem;
}

#client .client-content::after {
    content: "";
    width: 325px;
    height: 337px;
    background-image: url("../images/bg_cup.png");
    background-size: cover;
    position: absolute;
    bottom: 5%;
    left: 16%;
}

#client .client-content h2 {
    color: var(--white-light);
    max-width: 24rem;
}

#client .client-content p {
    color: var(--white-light);
    max-width: 27.5rem;
    margin: 1.25rem 0 1.88rem 0;
}

#client .client-content div {
    background-color: var(--white);
    border-radius: 0.5rem;
    display: inline-block;
    position: relative;
    z-index: 2;
}

#client .client-cards {
    position: relative;
}

#client .client-cards .card:nth-child(1) {
    position: absolute;
    top: -58%;
    right: -28%;
    z-index: 1;
    opacity: 0.4;
    cursor: default;
}

#client .client-cards .card:nth-child(1) p::selection,
#client .client-cards .card:nth-child(1) h3::selection {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#client .client-cards .card:nth-child(2) {
    position: relative;
    z-index: 3;
}

#client .client-cards .card:nth-child(3) {
    position: absolute;
    bottom: -58%;
    right: -28%;
    z-index: 2;
    opacity: 0.4;
    cursor: default;
}

#client .client-cards .card:nth-child(3) p::selection,
#client .client-cards .card:nth-child(3) h3::selection {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#client .client-cards .card {
    position: relative;
    background-color: var(--white);
    border-radius: 0.5rem;
    padding: 3.25rem;
}

#client .client-cards .card .image-wrapper:nth-child(1) {
    position: absolute;
    top: -10%;
    left: -5%;
    padding: 0.25rem;
    background-color: var(--white);
    border-radius: 50%;
}

#client .client-cards .card .image-wrapper:nth-child(1) img {
    vertical-align: middle;
    width: 100%;
}

#client .client-cards .card .image-wrapper:nth-child(5) {
    position: absolute;
    right: 5%;
    bottom: 5%;
}

#client .client-cards p {
    max-width: 22rem;
}

#client .client-cards h3 {
    font-size: 1rem;
    color: var(--gray-1);
    margin: 1.25rem 0 0 0;
}

/* Events Styles */
#events h2 {
    text-align: center;
    margin-bottom: 1.25rem;
}

#events>p {
    max-width: 56rem;
    text-align: center;
    margin-inline: auto;
}

#events .cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    margin-top: 3.12rem;
}

#events .cards-container .card {
    border: 1px solid var(--gray-4);
    padding: 1.38rem;
    border-radius: 0.625rem;
}

#events .cards-container .card img {
    width: 100%;
    margin-bottom: 1.25rem;
    vertical-align: middle;
}

#events .cards-container .card p {
    color: var(--gray-2);
    font-weight: 500;
    line-height: 1.75rem;
    margin-block: 0.62rem;
}

#events .cards-container .card a {
    color: var(--gray-1);
    font-weight: 700;
    line-height: 1.75rem;
    text-decoration: none;
}

/* Footer Styles */
footer {
    background: linear-gradient(270deg, #ff00001a 0%, #ff89381a 100%);
    padding-block: 5rem;
}

#footer {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

#footer .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#footer .footer-content div:nth-child(2) {
    display: flex;
    align-items: center;
    gap: 2.5rem;
}

#footer .links-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#footer .links-container ul h3 {
    color: var(--gray-1);
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 0.875rem;
}

#footer .links-container ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.12rem;
}

#footer .links-container ul a {
    color: var(--gray-3);
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
}

#footer .links-container ul a:hover {
    background: linear-gradient(270deg, var(--primary) 10%, var(--secondary) 90%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#footer .links-container form h3 {
    color: var(--gray-1);
    font-size: 1.5rem;
    font-weight: 600;
    max-width: 13rem;
    line-height: 2.5rem;
}

#footer .links-container form>div {
    display: flex;
    align-items: center;
}

#footer .links-container form input {
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--gray-2);
    font-size: 0.875rem;
    padding: 1.44rem;
    padding-left: 0;
    border-bottom: 1px solid var(--gray-3);
}

#footer .links-container form button {
    background: linear-gradient(270deg, var(--primary) 10%, var(--secondary) 90%);
    border: none;
    outline: none;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: grid;
    place-items: center;
}

#footer div:nth-child(3) p {
    color: var(--gray-3);
    text-align: center;
    font-weight: 500;
}

#footer div:nth-child(3) p span {
    background: linear-gradient(270deg, var(--primary) 10%, var(--secondary) 90%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
}