@media screen and (max-width: 576px) {
    .container {
        width: 90%;
    }

    .heading {
        font-size: 2.5rem;
        line-height: 3.125rem;
    }

    .btn-primary {
        transform: scale(0.7);
    }

    section {
        margin-block: 2.135rem;
    }

    #banner,
    #present,
    #client {
        flex-direction: column;
    }

    #banner .banner-content p {
        margin-block: 0.94rem;
    }

    #banner .banner-content button {
        margin-left: -8%;
    }

    #banner .banner-image .image-wrapper .badge {
        transform: scale(0.5);
        bottom: -16%;
        left: -13%;
    }

    #featured .cards-container {
        grid-template-columns: repeat(1, 1fr);
    }

    #present .present-content {
        order: 1;
    }

    #present .present-image {
        order: 2;
        gap: 0.88rem;
    }
    
    #client {
        width: 100%;
        padding: 0.5rem;
    }

    #client .client-content::after {
        display: none;
    }

    #client .client-content {
        transform: scale(0.9);
    }

    #client .client-cards .card {
        transform: scale(0.9);
        padding: 1.625rem;
    }

    #client .client-cards .card .image-wrapper:nth-child(1) {
        left: auto;
        top: -10%;
        right: -5%;
    }

    #client .client-cards .card:nth-child(1) {
        display: none;
    }

    #client .client-cards .card:nth-child(3) {
        display: none;
    }
}